@{//  File:        _SearchJournals.cshtml
//  Copyright:   Copyright 2012 MYOB Technology Pty Ltd. All rights reserved.
//  Website:     http://www.myob.com
//  Author:      MYOB
//  E-mail:      info@myob.com
//
//Documentation, code and sample applications provided by MYOB Australia are for 
//information purposes only. MYOB Technology Pty Ltd and its suppliers make no 
//warranties, either express or implied, in this document. 
//
//Information in this document or code, including website references, is subject
//to change without notice. Unless otherwise noted, the example companies, 
//organisations, products, domain names, email addresses, people, places, and 
//events are fictitious. 
//
//The entire risk of the use of this documentation or code remains with the user. 
//Complying with all applicable copyright laws is the responsibility of the user. 
//
//Copyright 2012 MYOB Technology Pty Ltd. All rights reserved.
}
@{
    ViewBag.Title = "_SearchJournals";
}

<div class="accordion" id="generalJournalFilter">
    <div class="accordion-group">
        <div class="accordion-heading">
            <div class="form-inline" style="margin: 10px;">
                <div class="control-group">
                    <select id="field" name="field">
                        <option value="DisplayID">Number</option>
                        <option value="Memo">Memo</option>
                        <option value="CategoryId">Category</option>
                        <option value="DateOccurred">Date Occurred</option>
                    </select>
                    <div id="searchFields" class="input-append">
                        <input type="text" id="search" name="search" placeholder="Search"/>
                        <button type="button" id="btnSearchJournal" value="Search" class="btn"><i class="icon-search"></i></button>
                    </div>
                    <button type="button" id="btnResetSearchJournal" value="Reset" class="btn"><i class="icon-remove"></i></button>
                
                    <a class="btn btn-link" data-toggle="collapse" data-parent="#generalJournalFilter" href="#advanceFilterContent">
                        More filters
                    </a>
                </div> 
            </div>
        </div>

        <div id="advanceFilterContent" class="accordion-body collapse">
            <div class="accordion-inner">
             
                <div class="form-horizontal">
                    <label class="control-label" for="yearEndAdjustmentOption"> Year End Adjustment</label>      
                    <div class="btn-group controls" id="yearEndAdjustmentOption" data-toggle="buttons-radio">
                        <button type="button" class="btn" value="true" style="width:58px">Yes</button>
                        <button type="button" class="btn" value="false" style="width:89px">No</button>
                        <button type="button" class="btn active" value="">All</button>
                    </div>
                    <label class="control-label" for="gstReportingMethodOption"> GST Reporting Method</label>      
                    <div class="btn-group controls" id="gstReportingMethodOption" data-toggle="buttons-radio">
                        <button type="button" class="btn" value="0">Sale</button>
                        <button type="button" class="btn" value="1">Purchase</button>
                        <button type="button" class="btn active" value="-1">All</button>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
