<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="authorizationUrl" value="https://test.secure.myob.com/oauth2/account/authorize"/>
  <add key="tokenUrl" value="https://test.secure.myob.com/oauth2/v1/authorize"/>
  <add key="devKey" value="api_developer_demo_clientid"/>
  <add key="clientId" value="api_developer_demo_clientid"/>
  <add key="clientSecret" value="api_developer_demo_clientsecret"/>
  <add key="redirectUrl" value="http://myobapi-samples.cloudapp.net/CSharpSamples/LibraryBrowser/OAuthCallback"/>
  <add key="scope" value="CompanyFile"/>
  <add key="cloudApiUrl" value="https://myob-api-webrole-demo.cloudapp.net/webapi"/>
  <add key="networkApiUrl" value="http://myobapi.cloudapp.net/AccountRight" />
</appSettings>